# Public Runtime Config
NUXT_PUBLIC_PADDLE_CHECKOUT_URL="https://www.youtube.com/watch?v=dQw4w9WgXcQ"

# Nitro Preset (Defaults to node-server locally, cloudflare-pages on Cloudflare)
# NITRO_PRESET=cloudflare-pages
